[submodule "CPP"]
	path = CPP
	url = https://github.com/openTransPlantSDK/openTransPlantSDK_CPP
[submodule "UE"]
	path = UE
	url = https://github.com/openTransPlantSDK/openTransPlantSDK_UE
[submodule "Lua"]
	path = Lua
	url = https://github.com/openTransPlantSDK/openTransPlantSDK_Lua.git
